<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Yuta Blog</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

    {% block style %}{% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><b>Admin</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a
                            class="nav-link {% if request.path == url_for('admin.index') %}active{% endif %}"
                            aria-current="page" href="{{ url_for('admin.index') }}"
                        >Post</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link {% if request.path == url_for('admin.category') %}active{% endif %}"
                            aria-current="page" href="{{ url_for('admin.category') }}"
                        >Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Location</a>
                    </li>
                </ul>
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    {% block script %}{% endblock %}
</body>

</html>
