{% extends 'admin/base.html' %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0/dist/quill.snow.css" rel="stylesheet" />
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0/dist/quill.js"></script>
<script>
    const quill = new Quill('#editor', {
        theme: 'snow',
    });

    document.getElementById('body-submit').onclick = () => {
        const editor = document.getElementById('editor');
        const html = quill.getSemanticHTML();

        const body_hidden = document.getElementById('body-hidden');

        body_hidden.value = html
    };
</script>

{% endblock %}

{% block content %}

<form class="mt-3" action="{{ url_for('admin.create') }}" method="post">
    <div class="d-flex justify-content-between">
        <h2>Create a new post</h2>
        <div class="mt-2">
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="store-name" class="col-sm-2 col-form-label">Store Name</label>
        <div class="col-sm-10">
            <input
                type="text" class="form-control" id="store-name" name="store_name"
                value="{% if 'store_name' in request.form %}{{ request.form['store_name'] }}{% endif %}"
            >
            {% if error_message %}
                <p class="error">{{ error_message.get('store_name', '') }}</p>
            {% endif %}
        </div>
    </div>

    <div class="mb-3 row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input
                type="text" class="form-control" id="title" name="title"
                value="{% if 'title' in request.form %}{{ request.form['title'] }}{% endif %}"
            >
            {% if error_message %}
                <p class="error">{{ error_message.get('title', '') }}</p>
            {% endif %}
        </div>
    </div>

    <div class="mb-3 row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="description" rows="1" name="description">{% if 'description' in request.form %}{{ request.form['description'] }}{% endif %}</textarea>
            {% if error_message %}
                <p class="error">{{ error_message.get('description', '') }}</p>
            {% endif %}
        </div>
    </div>

    <!-- <div class="mb-3 row">
        <label for="card-image" class="col-sm-2 col-form-label">Card Image</label>
        <div class="col-sm-10">
            <input type="file" accept=".png,.jpg,.jpeg" class="form-control" id="card-image" name="card_image">
            {% if error_message %}
                <p class="error">{{ error_message.get('card_image', '') }}</p>
            {% endif %}
        </div>
    </div> -->

    <div class="mb-3 row">
        <label for="category" class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-10">
            <select name="category_id" class="form-select">
                {% for category in categories %}
                    <option
                        value="{{ category['id'] }}"
                        {% if 'category_id' in request.form and request.form['category_id']|int == category['id'] %}selected{% endif %}
                    >{{ category['name'] }}</option>
                {% endfor %}
            </select>
            {% if error_message %}
                <p class="error">{{ error_message.get('category', '') }}</p>
            {% endif %}
        </div>
    </div>

    <div class="mb-3 row">
        <label for="location" class="col-sm-2 col-form-label">Location</label>
        <div class="col-sm-10">
            <select name="location_id" class="form-select">
                {% for location in locations %}
                    <option
                        value="{{ location['id'] }}"
                        {% if 'location_id' in request.form and request.form['location_id']|int == location['id'] %}selected{% endif %}
                    >{{ location['name'] }}</option>
                {% endfor %}
            </select>
            {% if error_message %}
                <p class="error">{{ error_message.get('location', '') }}</p>
            {% endif %}
        </div>
    </div>

    <div class="mb-3 row">
        {{ request.form }}
        <label class="col-sm-2 form-check-label" for="publish-flag">Publish</label>
        <div class="col-sm-10 form-check form-switch">
            <input
                class="form-check-input" type="checkbox" role="switch"
                id="publish-flag" name="publish_flag" value="{{ published }}"
                {% if 'publish_flag' in request.form and request.form['publish_flag'] == '1' %}checked{% endif %}
            >
        </div>
    </div>

    <div class="mb-5 row">
        <div class="col-sm-2">
            <label for="body" class=" col-form-label">Body</label><br>
            <button type="button" id="body-submit" class="btn btn-sm btn-secondary">Submit</button>
        </div>
        <div class="col-sm-10">
            <div id="editor">{% if 'body' in request.form %}{{ request.form['body'] | safe }}{% endif %}</div>
            <input
                type="hidden" id="body-hidden" name="body"
                value="{% if 'body' in request.form %}{{ request.form['body'] }}{% endif %}"
            >
            {% if error_message %}
                <p class="error">{{ error_message.get('body', '') }}</p>
            {% endif %}
        </div>
    </div>

</form>

{% endblock %}
