{% extends 'admin/base.html' %}

{% block content %}
<div class="d-flex justify-content-between">
    <h2 class="mt-3">Posts</h2>
    <div class="mt-4">
        <a href="{{ url_for('admin.create') }}" class="btn btn-sm btn-outline-dark">+New</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Store Name</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th scope="row">{{ post['id'] }}</th>
            <td><a href="">{{ post['store_name'] }}</a></td>
            <td>{{ post['title'] }}</td>
            <td>{{ post['category_name'] }}</td>
            <td>{{ post['location_name'] }}</td>
            <td>
                <button class="btn btn-sm btn-success">
                    {% if post['publish_flag'] == published %}Published{% else %}Archived{% endif %}
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
