{% extends 'admin/base.html' %}

{% block content %}
<div class="d-flex justify-content-between">
    <h2 class="mt-3">Posts</h2>
    <div class="mt-4">
        <a href="{{ url_for('admin.create') }}" class="btn btn-sm btn-outline-dark">+New</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Store Name</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th scope="row">{{ post['id'] }}</th>
            <td>{{ post['store_name'] }}</td>
            <td>{{ post['title'] }}</td>
            <td>{{ post['category_name'] }}</td>
            <td>{{ post['location_name'] }}</td>
            <td>
                <form action="{{ url_for('admin.change_status', post_id=post['id']) }}" method="post">
                    <button
                        type="submit"
                        class="btn btn-sm {% if post['publish_flag'] == published %}btn-success{% else %}btn-secondary{% endif %}"
                        onclick="return confirm('Are you sure to change the status?')"
                    >
                        {% if post['publish_flag'] == published %}Published{% else %}Archived{% endif %}
                    </button>
                </form>
            </td>
            <td>
                <a
                    href="#"
                    class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                ><i class="bi bi-pencil"></i> Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
