{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">

        <!-- Posts -->
        <div class="col-md-9">
            <!-- Looping -->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="{{ url_for('static', filename='img/food-1.jpg') }}"
                            class="img-fluid rounded-start" alt="card-image"
                        >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End looping -->
        </div>

        <!-- Side menu -->
        <div class="col-md-3">
            <div class="aside-block">
                <h3 class="aside-title">Category</h3>
                <ul class="aside-links list-unstyled">
                    <li><a href="#"><i class="bi bi-chevron-right"></i> Japanese</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i> Korean</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i> Chinese</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i> Cafe</a></li>
                </ul>
            </div>
            <div class="aside-block">
                <h3 class="aside-title">Location</h3>
                <ul class="aside-links list-unstyled">
                    <li><a href="#"><i class="bi bi-chevron-right"></i> Wynyard</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i> Town Hall</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i> North Sydney</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i> Chatswood</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
