body {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav {
    background-color: #F2F2F2;
}

#main-img {
    min-height: 400px;
    object-fit: cover;
}

.footer {
    background-color: black;
    padding: 40px;
}

.footer-icon {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF17;
    border-radius: 50%;
    color: white;
    line-height: 40px;
}

.footer-about {
    color: #FFFFFFB3;
}

.aside-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
}

.aside-block {
    margin-bottom: 30px;
}

.aside-block .custom-tab-nav .nav-item {
    display: inline-block;
}

.aside-block .custom-tab-nav .nav-item button {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
}

.aside-links li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cdcdcd;
}

.aside-links li a {
    display: block;
    color: #000000B3;
    text-decoration: none;
}

.aside-links li a:hover,
.aside-links li a:focus {
    color: black;
}

.post-meta {
    font-size: 11px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #00000066;
    margin-bottom: 10px;
}

.firstcharacter {
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

#navbarNav a {
    color: black;
}
